<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>home</h3>
  <h3>
    <%= nome %>
  </h3>
  <h3>
    <%= idade %>
  </h3>

  <h1>
    <% if(erroMsg){%>
      <h4>erro ao execultar</h4>
      <%} else{ %>
        <h4>aplicação rodadando!</h4>
        <%}%>

  </h1>


  <% produtos.forEach(function(produto){ %>
    <table border="">
      <thead>
        <tr>
          <td>nome </td>
          <td>preco </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%=produto.nome%>
          </td>
          <td>
            <%=produto.preco%>
          </td>
        </tr>
      </tbody>
    </table>
    <%})%>

      <!-- pegando referencia de variaveis criadas no js-->
</body>

</html>