<%- include ('partials/header.ejs') %>

  <body>
    <%- include ('partials/navbar.ejs') %>
      <div class="container col-7 border-1 mt-2 p-5">
        <div class="card">
          <div class="card-header">
            <h1>Realizar Pergunta</h1>

          </div>

          <div class="card-body">
            <form method="POST" action="/salvar">
              <label>Título</label>
              <input name="titulo" type="text" placeholder="Titulo" class="form-control">
              <label> Descrição</label>
              <textarea name="descricao" placeholder="Descreva sua pergunta aqui" id="" cols="30" rows="5"
                class="form-control"></textarea>
              <button class="btn btn-success mt-2">Perguntar</button>
            </form>
          </div>
        </div>



      </div>
  </body>
  <%- include ('partials/footer.ejs') %>